.column {
    margin: 10px;
}

.aboutcontainer {
    background-color: #ffffff;
    width: 100%;
    min-width: 420px;
    padding: 35px 50px;
    border-radius: 10px;

}

h1 {
    font-size: 30px;
    text-align: center;
    color: #1c093c;
}

p {
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #606060;
    font-size: 14px;
    font-weight: 400;
}

form {
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}

.row {
    width: 100%;
}

label {
    color: #1c093c;
    font-size: 14px;
}

textarea,
input {
    width: 90%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
    /* font-size: 5px; */
}

textarea {
    resize: none;
}

textarea:focus,
input:focus {
    outline: none;
    border-color: #6f6df4;
}

button {
    border: none;
    padding: 10px 20px;
    background: linear-gradient(130deg,
            #6f6df4,
            #4c46f5);
    color: #ffffff;
    border-radius: 3px;
}

