@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
	background-color: #eee;
}
.modal-title{
	font-weight: bold;	
}
h6{
	font-size: 	16px;
	font-weight: bold;	
}


.mt-150{

     margin-top:150px;
}